.button {
  background-color: #613659;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
