.task-container {
  background-color: #c197d2;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: #eee;
  align-items: center;
}

.task-title {
  font-weight: bold;
  cursor: pointer;
}

.task-container:hover {
  transition: all 0.8s;
  background-color: #d886f7;
}

.remove-task-button {
  background-color: #c197d2;
  font-size: 20px;
  color: #c00000;
  cursor: pointer;
  border: none;
}

.remove-task-button:hover {
  background-color: #d886f7;
}
